body {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    background-color: #92b6ef;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
}

nav li {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: larger;
}

nav {
    position: absolute;
    margin-left: 650px;
    margin-top: -75px;
}



nav li a:hover {
    color:red;

}

main {
    text-align: center;
}