body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    font-size: 1.1em;
}
html {
    background-image: url('https://elitefon.ru/images/201211/elitefon.ru_22236.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



nav ul li:hover {
    color: red;
}

nav li {
    display: inline-block;
    position: relative;
    left: 75px;
    padding: 15px;
    margin: 20px;
    font-size: 1.7em;
    font-weight: bolder;
}


 
.title {
    font-size: 1.3em;
    position: relative;
    left: 70px;
}

img {
    position: relative;
    width: 270px;
    float: right;
    left: -40px;
    margin-top: 25px;
}

#about-me {
    margin-top: 100px;
}

#serv {
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
}

#work {
    margin-top: 100px;
    
}

.flex-item {
    width: 40%;
}
h3 {
    text-align: center;
}

iframe {
    float: right;
    width: 375px;
    height: 180px;
}

form {
    position: relative;
    margin-top: 40px;
    margin-left: 300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-jgUV93GXxfy9p09MSbZgGxsp33vt3sTDPm64c_DwX18vz-l3g');
    background-repeat: repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
    
}

form input {
    margin-top: 25px;
}

input[type="text"],
input[type="email"],
textarea[placeholder="Повідомлення"] {
    
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.button input {
    padding: 13px 20px;
    margin: 10px 5px 20px 5px;
    font-size: 15px;
    border-radius: 15px;
}

.button input:hover {
    transition: all 0.5s;
    background: #5dbae2;
    color: #111212;
    font-size: 18px;
}

footer {
    margin-top: 100px;
}

.adres {
    margin-top: 50px;
}

.forma {
    margin-top: 120px;
}

